<%= chromosome_nav(@chromosome)%>
<%= zoom_control(@level, @chromosome)%>

<%= cytoband(@level, @chromosome, @center, 900)%>
<%= genes(@level, @chromosome, @center, 900)%>
<% Track.all.each do |track| %>
<h2><%= track.name.html_safe %> <small>(click on the bar to zoom in)</small></h2>
<script type="text/javascript+protovis">
var data<%= track.id %> = <%= Histogram.data(track.id, @level, @chromosome, @center).html_safe %>;
var chromosome = "<%= @chromosome.gsub(/^chr/, "") %>";
var zoom_in_level = "<%= @level.to_i - 1 %>";

/* Sizing and scales. */
var w = 900, /*data.length * 4,*/
    h = 50,
    x = pv.Scale.linear(data<%= track.id %>, function(d) d.x).range(0, w),
    y = pv.Scale.linear(0, 100).range(0, h);
 
/* The root panel. */
var vis = new pv.Panel()
    .width(w)
    .height(h)
    .bottom(20)
    .left(30)
    .right(30)
    .top(5);

/* bar graph */
vis.add(pv.Panel)
  .data(data<%= track.id %>)
  .left(function(d) x(d.x))
.add(pv.Bar)
  .bottom(0)
  .width(4)
  .height(function(d) y(d.y))
  .def("fillStyle", "#999")
  .event("mouseover", function() this.fillStyle("#c03")) // override
  .event("mouseout", function() this.fillStyle(undefined)) // restore
  .event("click", function(d) self.location = "/graph/" + chromosome + "/" + zoom_in_level + "/" + d.x.toString())
  .title(function(d) d.x);

/* X-axis ticks. */
vis.add(pv.Rule)
    .data(x.ticks(4))
    .visible(function(d) d > 0)
    .left(x)
    .strokeStyle("#eee")
  .add(pv.Rule)
    .bottom(-5)
    .height(5)
    .strokeStyle("#000")
  .anchor("bottom").add(pv.Label)
    .text(x.tickFormat);
 
/* Y-axis ticks. */
vis.add(pv.Rule)
    .data(y.ticks(3))
    .bottom(y)
    .strokeStyle(function(d) d ? "#eee" : "#000")
  .anchor("left").add(pv.Label)
  .text("");
  //.text(y.tickFormat);

vis.render();
</script>
<% end %>

<h2>Overlap ((P1 or P2 or P3) and (Pinto et al. or Marshall et al.)) <small>(click on the bar to zoom in)</small></h2>
<script type="text/javascript+protovis">
var data0 = <%= Histogram.data_overlap(@level, @chromosome, @center).html_safe %>;
var chromosome = "<%= @chromosome.gsub(/^chr/, "") %>";
var zoom_in_level = "<%= @level.to_i - 1 %>";

/* Sizing and scales. */
var w = 900, /*data.length * 4,*/
    h = 50,
    x = pv.Scale.linear(data0, function(d) d.x).range(0, w),
    y = pv.Scale.linear(0, 100).range(0, h);
 
/* The root panel. */
var vis = new pv.Panel()
    .width(w)
    .height(h)
    .bottom(20)
    .left(30)
    .right(30)
    .top(5);

/* bar graph */
vis.add(pv.Panel)
  .data(data0)
  .left(function(d) x(d.x))
.add(pv.Bar)
  .bottom(0)
  .width(4)
  .height(function(d) y(d.y))
  .def("fillStyle", "#999")
  .event("mouseover", function() this.fillStyle("#c03")) // override
  .event("mouseout", function() this.fillStyle(undefined)) // restore
  .event("click", function(d) self.location = "/graph/" + chromosome + "/" + zoom_in_level + "/" + d.x.toString())
  .title(function(d) d.x);

/* X-axis ticks. */
vis.add(pv.Rule)
    .data(x.ticks(4))
    .visible(function(d) d > 0)
    .left(x)
    .strokeStyle("#eee")
  .add(pv.Rule)
    .bottom(-5)
    .height(5)
    .strokeStyle("#000")
  .anchor("bottom").add(pv.Label)
    .text(x.tickFormat);
 
/* Y-axis ticks. */
vis.add(pv.Rule)
    .data(y.ticks(3))
    .bottom(y)
    .strokeStyle(function(d) d ? "#eee" : "#000")
  .anchor("left").add(pv.Label)
    .text("");

vis.render();
</script>